<header class="section-header-amend">
  {%- render 'breadcrumbs' -%}
</header>
<div class="page-width page-width--narrow page-content">
  {% comment %}
    <header class="section-header">
      <h1 class="section-header__title">{{ page.title }}</h1>
    </header>
  {% endcomment %}

<div>
  <img src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1_01.jpg?v=1704700579" alt="">
</div>
</div>

{% schema %}
{
  "name": "Page affiliate program",
  "tag": "section"
}
{% endschema %}
