{% comment %} <header class="section-header-amend">
  {%- render 'breadcrumbs' -%}
</header> {% endcomment %}
{% comment %} <div class="page-width page-width--narrow page-content"> {% endcomment %}
  {% comment %}
    <header class="section-header">
      <h1 class="section-header__title">{{ page.title }}</h1>
    </header>
  {% endcomment %}

{% comment %} </div> {% endcomment %}
<div class="affiliate-program">
  <div class="banner">
      <img class="affiliate-pc" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1_01.jpg?v=1704700579" alt="img">
      <img class="affiliate-mb" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1-mob_01.jpg?v=1704703927" alt="img">
  </div>
  <div>
    <img class="affiliate-pc" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1_02.jpg?v=1704701697" alt="img">
    <img class="affiliate-pc" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1_03.jpg?v=1704701753" alt="img">
    <img class="affiliate-mb" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1-mob_02.jpg?v=1704703929" alt="img">
    <img class="affiliate-mb" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1-mob_03.jpg?v=1704703933" alt="img">
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1-mob_04.jpg?v=1704704331">
          <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1_04.jpg?v=1704702274">
          <img src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1_04.jpg?v=1704702274" alt="Image Description">
        </picture>
      </div>
      {% comment %} <div class="swiper-slide">
        <picture>
          <source media="(max-width: 767px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <img src="" alt="Image Description">
        </picture>
      </div> {% endcomment %}
      <div class="swiper-slide">
        <picture>
          <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-mob-_1.png?v=1704704332">
          <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-pc-_1.png?v=1704702277">
          <img src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-pc-_1.png?v=1704702277" alt="Image Description">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-mob-_2.png?v=1704704335">
          <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-pc-_2.png?v=1704702280">
          <img src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-pc-_2.png?v=1704702280" alt="Image Description">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-mob-_3.png?v=1704704337">
          <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-pc-_3.png?v=1704702283">
          <img src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-pc-_3.png?v=1704702283" alt="Image Description">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-mob-_4.png?v=1704704340">
          <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-pc-_4.png?v=1704702285">
          <img src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-pc-_4.png?v=1704702285" alt="Image Description">
        </picture>
      </div>
    </div>
    <!-- <div class="swiper-button-prev swiper-button-top"><</div>
    <div class="swiper-button-next swiper-button-top">></div> -->
  </div>
  <div class="footer">
    <img class="affiliate-pc" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1_05.jpg?v=1704702424" alt="img">
    <img class="affiliate-pc" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1_06.jpg?v=1704702515" alt="img">

    <img class="affiliate-mb" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1-mob_05.jpg?v=1704705043" alt="img">
    <img class="affiliate-mb" src="https://cdn.shopify.com/s/files/1/0623/5878/2179/files/AffiliateProgram-1-mob_06.jpg?v=1704705045" alt="img">
    <a class="btn_1" href="https://app.impact.com/campaign-promo-signup/25homecom.brand?execution=e2s1"></a>
    <a class="btn_2" href="https://www.shareasale.com/shareasale.cfm?merchantID=131275"></a>
  </div>
</div>
<script>
  document.addEventListener('page:loaded', function() {
    var mySwiper = new Swiper ('.swiper', {
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      autoHeight: true,
    })
  });
</script>
{% schema %}
{
  "name": "Page affiliate program",
  "tag": "section"
}
{% endschema %}
