{% comment %} <div class="page-full page-content black-five-bg"> {% endcomment %}
<div class="page-full black-five-bg">
    {% comment %} {%- render 'breadcrumbs' -%}
    <header class="section-header">
      <h1 class="section-header__title">{{ page.title | escape }}</h1>
    </header> {% endcomment %}

    <div class="rte--nomargin" id="beijingtuziyuan" data-imgbg={{ section.settings.image | img_url: '1920x' }}>
      {{ page.content }}
    </div>
  </div>
  {% schema %}
  {
    "name": "Black-Five-Flash-Sale",
    "class": "Black-Five-Flash-Sale",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "背景图"
      }
    ]
  }
  {% endschema %}

  <script>
    // 尝试获取元素
    var beijingtuziyuan = document.getElementById('beijingtuziyuan');

    // 检查是否成功获取到元素
    if (beijingtuziyuan) {
      // 获取 data-imgbg 属性的值
      var dataImgBgValue = beijingtuziyuan.getAttribute('data-imgbg');
      var dynamicbg = document.body
      dynamicbg.style.backgroundImage = "url("+dataImgBgValue+")";
      {% comment %} dynamicbg.style.backgroundRepeat = 'no-repeat'; {% endcomment %}
      dynamicbg.style.backgroundSize = 'contain';
    }

  </script>
