<div class="page-full page-content black-five-bg">
    {% comment %} {%- render 'breadcrumbs' -%}
    <header class="section-header">
      <h1 class="section-header__title">{{ page.title | escape }}</h1>
    </header> {% endcomment %}
  
    <div class="rte rte--nomargin">
      {{ page.content }}
    </div>
  </div>
  {% schema %}
  {
    "name": "Black-Five-Flash-Sale",
    "class": "Black-Five-Flash-Sale",
    "tag": "section"
  }
  {% endschema %}
{% style %}
    .black-five-bg {
        min-height: 500px;
        background-image: url({{ 'black-bg.jpg' | asset_url }});
        background-repeat: no-repeat;
        background-size: cover;
    }
{%- endstyle -%}