<div class="page-full page-content black-five-bg">
    {% comment %} {%- render 'breadcrumbs' -%}
    <header class="section-header">
      <h1 class="section-header__title">{{ page.title | escape }}</h1>
    </header> {% endcomment %}
  
    <div class="rte--nomargin">
      {{ page.content }}
    </div>
  </div>
  {% schema %}
  {
    "name": "Black-Five-Flash-Sale",
    "class": "Black-Five-Flash-Sale",
    "tag": "section"
  }
  {% endschema %}
  <script>
    var dynamicbg = document.body;
    dynamicbg.style.backgroundImage = "url({{ '2_02.jpg' | asset_url }})";
    dynamicbg.style.backgroundRepeat = 'no-repeat';
    dynamicbg.style.backgroundSize = 'cover';

  </script>
