<div id="input-countdowns" data-input-countdowns="{{section.settings.countdown_target_datetimes}}"></div>
{% schema %}
{
  "name": "全局倒计时",
  "max_blocks": 12,
  "class": "index-section--hidden",
  "settings": [
    {
      "type": "text",
      "label": "Flash Sale的倒计时时间",
      "id": "countdown_target_datetimes",
      "default": "2023/10/26/17/32/30",
      "info": "倒计时的日期和时间格式为 'YYYY（年）/MM（月）/DD（日）/HH（时）/mm（分）/ss（秒）'。"
    }
  ],
  "blocks": []
}
{% endschema %}
<script>
    //倒计时
  const element = document.getElementById("input-countdowns");
  {% comment %} console.log(element,'targetDateStrtargetDateStr') {% endcomment %}
  const targetDateStr = element.getAttribute("data-input-countdowns");
  {% comment %} console.log(targetDateStr,'targetDateStrtargetDateStr') {% endcomment %}
  const targetDateParts = targetDateStr.split("/");
  const year = parseInt(targetDateParts[0]);
  const month = parseInt(targetDateParts[1]) - 1; // 月份从 0 开始
  const day = parseInt(targetDateParts[2]);
  const hours = parseInt(targetDateParts[3]);
  const minutes = parseInt(targetDateParts[4]);
  const seconds = parseInt(targetDateParts[5]);
  const targetDate = new Date(year, month, day, hours, minutes, seconds).getTime();
  let detectionIndex = 0
  


  function updateCountdown() {
      const now = new Date().getTime();
      const timeRemaining = targetDate - now;
      if (timeRemaining <= 0) {
          document.getElementById("countdowns_milliseconds").textContent = '0'
          window.clearInterval(timer);
      } else {
          detectionIndex++;
          const totalHours = Math.floor(timeRemaining / (1000 * 60 * 60));

          // 显示days 就用days和hourss
          const days = Math.floor(totalHours / 24); // 将小时转换为天
          const hourss = totalHours % 24; // 获取不满一天的小时数
          // 不显示days 就用hours = totalHours
          const hours = totalHours;

          const minutes = Math.floor((timeRemaining / (1000 * 60)) % 60);
          const seconds = Math.floor((timeRemaining / 1000) % 60);
          const milliseconds = timeRemaining % 1000;

          //const countdowns_days = document.querySelectorAll("#countdowns_days")
          const countdowns_hours = document.querySelectorAll("#countdowns_hours")
          const countdowns_minutes = document.querySelectorAll("#countdowns_minutes")
          const countdowns_seconds = document.querySelectorAll("#countdowns_seconds")
          const countdowns_milliseconds = document.querySelectorAll("#countdowns_milliseconds")

          if (countdowns_hours.length == 0 && detectionIndex == 20) {
            detectionIndex = 0
            window.clearInterval(timer);
            return
          }


          if (countdowns_hours.length > 0 && formatTimeValue(hours)) {
            countdowns_hours.forEach(function(element) {
              element.textContent = formatTimeValue(hours)
            });
          }
          if (countdowns_minutes.length > 0 && formatTimeValue(minutes)) {
            countdowns_minutes.forEach(function(element) {
              element.textContent = formatTimeValue(minutes)
            });
          }
          if (countdowns_seconds.length > 0 && formatTimeValue(seconds)) {
            countdowns_seconds.forEach(function(element) {
              element.textContent = formatTimeValue(seconds)
            });
          }
          if (countdowns_milliseconds.length > 0 && formatmilliseconds(milliseconds)) {
            countdowns_milliseconds.forEach(function(element) {
              element.textContent = formatmilliseconds(milliseconds)
            });
          }

          // document.getElementById("countdowns_days").textContent = formatTimeValue(days);
          {% comment %} if (document.getElementById("countdowns_hours") && formatTimeValue(hours)) {
            console.log(document.getElementById("countdowns_hours"),'document.getElementById("countdowns_hours")')
            document.getElementById("countdowns_hours").textContent = formatTimeValue(hours);
          }
          if (document.getElementById("countdowns_minutes") && formatTimeValue(minutes)) {
            document.getElementById("countdowns_minutes").textContent = formatTimeValue(minutes);
          }
          if (document.getElementById("countdowns_seconds") && formatTimeValue(seconds)) {
            document.getElementById("countdowns_seconds").textContent = formatTimeValue(seconds);
          }
          if (document.getElementById("countdowns_milliseconds") && formatmilliseconds(milliseconds)) {
            document.getElementById("countdowns_milliseconds").textContent = formatmilliseconds(milliseconds);
          } {% endcomment %}
      }
  }

  function formatTimeValue(value) {
      return value < 10 ? "0" + value : value;
  }
  function formatmilliseconds(value) {
      return value < 10 ? value : parseInt(value.toString()[0]);
  }

  // 更新倒计时每秒钟
  const timer = setInterval(updateCountdown, 350);

  // 初始化倒计时
  {% comment %} updateCountdown(); {% endcomment %}
</script>
