@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1698041655384') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinxingqia:before {
  content: "\e637";
}

.icon-naozhong:before {
  content: "\e890";
}

